@import url('https://fonts.googleapis.com/css?family=Lato');

@import
url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

:root {
  --main-color: #3498DB;
  --button-color: #17202A;  
}

#big-player {
  font-family: 'Lato', sans-serif;
  background: #ECF0F1;
  width: 600px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #909497;

  padding: 25px;
}

.player {
  display: flex;
  flex-direction: row;  
}

#audio-logo {
  height: 150px;
  width 150px;
  border-radius: 25px;
  margin-right: 25px;
}

.audio-info > h2 {
  margin: 0px;
  color: #17202A;
  font-size: 30px;
}

#podcast-title {
  margin: 0px;
  color: #566573;
  display: inline;
  margin-top: 3px;
}

.audio-info {
  width: 100%;
}

#eplink {
  color: #566573;
  text-decoration: none;
}

#downep {
  color: #566573;
  text-decoration: none;
}

#audio-ep {
  color: #ABB2B9;
  display: inline;
}

#progressbar {
  height: 10px;
  background-color: #BFC9CA;
  border-radius: 3px;
  margin-top: 3px;
}

#progressbar:hover {
  cursor: pointer;
}

#prog {
  background-color: var(--main-color);
  height: 10px;
  border-radius: 3px;
}

.time {
  display: flex;
  justify-content: space-between;
}

.time > p {
  margin-top: 0px;
  color: #5D6D7E;
  margin-bottom: 0px;
}

#plusmoins {
  display: flex;
  justify-content: space-between;
}

#plusmoins > p {
  margin-top: 0px;
  color: #5D6D7E;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: center;
}

.controls > i {
  margin-top: -50px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: var(--button-color);
}

.controls > i:hover {
  cursor: pointer;
}

#share {
  margin-top: 5px;
  border-top: 1px dashed #ABB2B9;
  display:none;
}

#share > h3 {
  text-align: center;
  margin-top: 2px;
  color: #17202A;
}

.share-icon {
  display: flex;
  justify-content: center;
}

.share-icon > a > i {
  margin-top: -20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: #17202A;
}

#description {
  margin-top: 5px;
  border-top: 1px dashed #ABB2B9;
  display: none;
}

#description > h3 {
  text-align: center;
  margin-top: 2px;
  color: #17202A;
}

#desc-text {
  text-align: left;
}

#desc-text > p {
  margin: 0px;
  color: #17202A;
}

#desc-text a, #desc-text u {
  text-decoration: none;
  color: #17202A;
  border-bottom: dotted 1px #17202A;
  word-wrap: break-word;
}

#bookmark {
  margin-top: 5px;
  border-top: 1px dashed #ABB2B9;
  display: none;
}

#bookmark > h3 {
  text-align: center;
  margin-top: 2px;
  color: #17202A;
}

#book-list {
  padding-left: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
}

#book-list > li > span:first-child:hover {
  cursor: pointer;
}

#book-list > li > span:first-child {
  border-bottom: dotted 1px #17202A;
}

#book-list > li {
  margin-top: 2px;
  list-style-type: none;
  padding-left: 0px;
}

#subbar {
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

#subbar > div {
  justify-self: right;
  margin-left: auto;
  color: #17202A;
}

#subbar > div > p {
  margin: 0px;
  display: inline;
  justify-self: right;
}

#subbar > div:hover {
  cursor: pointer;
}

#speedrange {
  display: none;
}

#rangebar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3; 
  outline: none;
  opacity: 0.7;
  border-radius: 3px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#rangebar:hover {
  opacity: 1;
}

#rangebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: var(--button-color);
  cursor: pointer;
}

#rangebar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: var(--button-color);
  cursor: pointer; 
}
